@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');*/
:root,
.page {
  --mainColor: #9d80e3;
  --hoverColor: #ad94f2;
  --backgroundColor: #f8f5fa;
  --darkOne: #402488;
  --darkTwo: #9d80e3;
  --lightOne: #bbb4d1;
  --lightTwo: #e1daf7;
}



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 0 0 ;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: fixed;
  top:0;
  padding: 1rem;
  z-index: 70;
  width: 100%;
  background-color: var(--backgroundColor);
 
 
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .blur{
  background-color: var(--backgroundColor);
}
.overlay {
  display: none;
}


.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 a{
  color: var(--mainColor);
  font-size: 1.55rem;
  line-height: 1.2;
   
}

.logo h3 a:hover{
  color: var(--hoverColor);
  font-size: 1.55rem;
  line-height: 1.2;
   
}
.myName{
  display: flex;
}
.greet{
  color: black;
}
.cursiFont{
  font-size:3rem;
  font-family: 'Poppins';
}
.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}
.adobe{
  font-style: normal;
  font-size: 12px;
}
.cta{
  margin-bottom: 2rem;

}

.fa-linkedin{
  display: inline-block;
  font-size: 2.5rem;
  color: #0072b1 !important;
  text-transform: capitalize;
  transition: 0.3s;
}
.fa-github{
  display: inline-block;
  margin: 0.5rem;
  font-size: 2.5rem;
  color: #171515 !important;
  text-transform: capitalize;
  transition: 0.3s;
}
.fa-facebook{
  display: inline-block;

  font-size: 2.5rem;
  color: #1877F2 !important;
  text-transform: capitalize;
  transition: 0.3s;
}

.fa-linkedin:hover {
  color: var(--hoverColor);
  transform: scale(1.5);
}
.fa-github:hover {
  color: var(--hoverColor);
  transform: scale(1.5);
}
.fa-facebook:hover {
  color: var(--hoverColor);
  transform: scale(1.5);
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
    position: relative;
    width: 100%;
    height: 3px;
     
    transition: 0.5s;
  }

.bar::before{
  content: "";
  position: absolute;
  width: 75%;
  height: 3px;
  background-color: var(--darkTwo);
 
  transition: 0.5s;
}
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--darkTwo);
   
    transition: 0.5s;
  }

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
  background-color: var(--backgroundColor);

}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
  background-color: var(--backgroundColor);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  
}

.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
 
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.section-text {
  
  font-size: 1.1rem;
  text-align: justify;
 
  line-height: 2.3;
}
.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}



.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}
.aboutme{
    position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
 
  display: flex;
  
}
.section-title{
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
.section-desc span{
  margin: 1rem;
}

 h3{
  
  text-transform: uppercase;
  text-align: left;
}

.skill{
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
 
}
@media screen and (min-width:600px){
  .skill{
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width:600px){
  .skill{
    grid-template-columns: 1fr;
  }
}


.skill .set{
  
  padding: 5rem;
  justify-content: center;
 
  align-items: center;
  background-color: var(--lightTwo);
  
}

.set span {
  display: flex;
  justify-content: center;
  align-items: center;
  

  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--darkOne);
  color: #ffff;
  border-radius: 10px;
  margin-inline: auto;
  
}
.set > p {
  padding-block: 1rem;
  font-size: 1rem;
  color: var(--darkOne);
  text-align: center;
}
.set .skill-list{
 
  text-align: center;
  padding-block:5px;
  grid-template-columns: 1fr 25px;

}

.footer{
  margin-bottom: 0;
  height: 3rem;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  
}
.ftext{
  font-size: 12px;
  
}
@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

section{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
}

section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

section ul li{
  list-style: none;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  
}
section ul li:hover {
  background-color: var(--hoverColor);
 
}


section ul li.active{
  background: var(--darkOne);
  color: #fff;
}
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 60rem; 
  margin: 0 auto;  
  gap: 2rem; 
}

.project .itemBox {
  width: 25rem;
  height: 20rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: var(--lightTwo);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.project .itemBox:last-child:nth-child(odd) {
  margin-right: auto;
}

.project .itemBox.hide {
  display: none;
}

.project .itemBox .imgBox {
  width: 100%;
  height: 40%; 
  object-fit: contain; 
}

.project .itemBox .desc {
  padding: 10px; 
  box-sizing: border-box; 
  flex-grow: 1; 
}

.project .itemBox .desc p {
  margin: 2px 0 5px;
  text-align: justify;
  font-size: 12px;
  color: var(--darkOne);
  word-wrap: break-word; 
}

.project .itemBox .desc span {
  margin: 2px 0 5px; 
  text-align: justify;
  font-size: 10px;
  word-wrap: break-word; 
  display: block; 
}


@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title{
    font-size: 1.1rem;
  }
  .cursiFont {
    font-size: 3rem;
  }
  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title{
    font-size: 0.9rem;
  }
  .cursiFont {
    font-size: 3rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}
